<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center pt-70">
                            <h2>our gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    {% comment %}  {% endcomment %}
    {% comment %} <div class="gallery-area section-padding30">
        <div class="container-fluid p-0 fix">
            <div class="row ">
                <marquee behavior="scroll" direction="left" scrollamount="15" onmouseover="this.stop();" onmouseout="this.start();">
                <div class="container p-2">
                    <img src="assets/img/gallery/gallery1.png" class="gallery-img px-3" width="500"   />
                    <img src="assets/img/gallery/gallery2.png" class="gallery-img big-img px-3"  />
                    <img src="assets/img/gallery/gallery3.png" class="gallery-img big-img px-3"  />
                    <img src="assets/img/gallery/gallery4.png" class="gallery-img big-img px-3"  />
                    <img src="assets/img/gallery/gallery5.png" class="gallery-img big-img px-3"  />
                </div>
                </marquee>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="gallery-area section-padding30">
        <div class="container-fluid p-0 fix">
        <div class="marquee">

        <div class="marquee-content" > 
          <div class="marquee-item">
            <img src="assets/img/gallery/g-1.jpg" width="500" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-2.jpeg" width="500" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-3.jpg" width="500" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-4.jpg" width="500" class="gallery-img big-img px-3"  />

          </div>

          <div class="marquee-item">
            <img src="assets/img/gallery/g-5.jpg" width="500" class="gallery-img big-img px-3"  />

          </div>
          
          {% comment %} <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=08" alt="">
          </div>
           {% endcomment %}
          
          
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-1.jpg" width="500" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-2.jpeg" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-3.jpg" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-4.jpg" class="gallery-img big-img px-3"  />

          </div>
          
          <div class="marquee-item">
            <img src="assets/img/gallery/g-5.jpg" class="gallery-img big-img px-3"  />

          </div>
          
          {% comment %} <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=08" alt="">
          </div> {% endcomment %}
        </div>
        <style>
            .marquee {
                /*   overflow: hidden; */
                }
                
                .marquee-content {
                  display: flex;
                  animation: scrolling 10s linear infinite;
                }
                
                .marquee-item {
                  flex: 0 0 32vw;
                  margin: 0 0.5vw;
                  height:700px !important;
                /*   flex: 0 0 20vw; */
                /*   margin: 0 2vw; */
                }
                
                .marquee-item img {
                  display: block;
                /*  width: 100%; */
                /*   padding: 0 20px; */
                }
                
                @keyframes scrolling {
                  0% { transform: translateX(0); }
                  100% { transform: translatex(-104vw); }
                }
                
        </style>
      </div>
    </div>
</div>
    {% comment %}  {% endcomment %}
    
</main>