
<div class="container">
    <!-- Section Tittle -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="section-tittle text-center mb-100">
                <span>OUR tIME SCHEDULE</span>
                <h2>SELECT THE PERFECT TIME YOU NEED NOW</h2>
            </div>
        </div>
    </div>
    <!-- Heading & Nav Button -->
    <div class="row justify-content-center mb-10"style="min-width:800px;" >
        <div class="col-12">
            <table class="table table-bordered text-center">
                <thead>
                  <tr class="bg-warning " style="font-size:30px;">
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>

                  </tr>
                </thead>
                <tbody>
                  <tr style="font-size:15px;">
                    
                    <td>6:00 AM - 10:00 PM</h3></td>
                    <td>6:00 AM - 10:00 PM</td>
                    <td>6:00 AM - 10:00 PM</td>
                    <td>6:00 AM - 10:00 PM</td>
                    <td>6:00 AM - 10:00 PM</td>
                    <td>6:00 AM - 10:00 PM</td>
                    <td>8:00 AM - 12:00 PM</td>

                  </tr>
                  
                </tbody>
              </table>

              <style>
                tr { line-height: 54px; }
                th { height: 90px; }

              </style>
        </div>
    </div>
    <!-- Tab content -->
    
    
</div>