<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="assets/img/gallery/section_bg03.png">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Akhada Unisex Fitness Zone</h4>
                                <ul>
                                    <li><a href="{%url 'about' %}">About Us</a></li>
                                    <li><a href="{%url 'gallery' %}">Gallery</a></li>
                                    <li><a href="{%url 'instruction' %}"> Instruction</a></li>
                                    <li><a href="{%url 'contact' %}"> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Open hour</h4>
                                <ul>
                                    <li><a href="#">Monday 6:00 AM – 10:00 PM</a></li>
                                    <li><a href="#"> Tuesday 6:00 AM – 10:00 PM</a></li>
                                    <li><a href="#"> Wednesday 6:00 AM – 10:00 PM</a></li>
                                    <li><a href="#"> Thursday 6:00 AM – 10:00 PM</a></li>
                                    <li><a href="#"> Friday 6:00 AM – 10:00 PM</a></li>
                                    <li><a href="#"> Saturday 6:00 AM – 10:00 PM</a></li>
                                    <li><a href="#"> Sunday 8:00 AM – 12:00 PM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>RESOURCES</h4>
                                <ul>
                                    <li><a href="#">Home Insurance</a></li>
                                    <li><a href="#">Travel Insurance</a></li>
                                    <li><a href="#"> Car Insurance</a></li>
                                    <li><a href="#"> Business Insurance</a></li>
                                    <li><a href="#"> Heal Insurance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="assets/img/logo/logo.png" width="180" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">GThe trade war currently ensuing between te US anfd several natxions around thdhe globe, most fiercely with.</p>
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social ">
                                <p class="info1" style="color: #fff;">Follow us on Instagram</p>
                                <a href="https://instagram.com/akhadafitness" ><i class="fab fa-instagram" style="font-size:20px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://softtunners.com/" target="_blank">SoftTunners</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

{% comment %} 

{% endcomment %}
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>