<header>
   <!--? Header Start -->
   <div class="header-area header-transparent">
      <div class="main-header header-sticky">
         <div class="container-fluid">
            <div class="row align-items-center">
               <!-- Logo -->
               <div class="col-xl-2 col-lg-2 col-md-1">
                  <div class="logo">
                     <a href="index-2.html"><img src="assets/img/logo/logo.png" width="180" alt=""></a>
                  </div>
               </div>
               <div class="col-xl-10 col-lg-10 col-md-10">
                  <div class="menu-main d-flex align-items-center justify-content-end">
                     <!-- Main-menu -->
                     <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                           <ul id="navigation">
                              <li><a href="/">Home</a></li>
                              <li><a href="">About</a>
                                 <ul class="submenu">
                                    <li><a href="{%url 'team'%}">Team</a></li>
                                    <li><a href="{%url 'about'%}">About Us</a></li>
                                 </ul>
                              </li>
                              <li><a href="{%url 'gallery'%}">gallery</a></li>
                              <li><a href="{%url 'contact'%}">Contact</a></li>
                              <li><a href="{%url 'instruction'%}">Instruction</a></li>

                           </ul>
                        </nav>
                     </div>
                     <div class="header-right-btn f-right d-none d-lg-block ml-30">
                        <a href="" class="btn header-btn" data-toggle="modal" data-target="#subscribeModal">Subcribe</a>
                     </div>
                  </div>
               </div>
               <!-- Mobile Menu -->
               <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Header End -->
</header>